/**********重置样式************/
body,h3,ul,li,p,input,span{
	margin:0;
	padding:0;
}
li{
	list-style: none;
}
body{
	font-size:12px;
}
a{
	text-decoration:none;
}
/*****login-warp******/
.login-wrap{
	height:833px;
	background:url(../image/login-bg.png) repeat-x;
}
.login-content{
	width:1000px;
	height:833px;
	margin:0 auto;
	background:url(../image/20160407180825169.jpg) no-repeat;
}
.login-logo{
	width:369px;
	height:66px;
	margin:0 auto;
	background:url(../image/logo.png) no-repeat center bottom;
}
.login-main{
	width:1000px;
	height:650px;
}
.login-data{
	float:right;
	margin:60px 200px 0 0;
	width:350px;
}
.login-data .login-data-tit{
	width:260px;
	height:32px;
	margin-left:90px;
}
.login-data .login-data-tit h3{
	float:left;
	font-size:16px;
	font-weight:bold;
}
.login-data .login-data-tit span{
	float:right;
	margin-top:10px;
}
.login-data .login-data-tit span a{
	color:#db2725;
	font-size:14px;
	text-decoration:underline;
}
.login-data ul li{
	width:350px;
	min-height:30px;
	height:auto!important;
	_height:30px;
	margin-bottom:10px;
}

.login-data ul li p{
	margin:3px 0 0 90px;
	color:#db2725;
}
.login-data ul li span{
	float:left;
	width:75px;
	height:30px;
	line-height: 30px;
	margin-right:15px;
	text-align: right;
}
.login-data ul li input{
	width:253px;
	height:28px;
	padding-left:5px;
	border:1px solid #999;
	float:left;
	outline:0px;
	background:transparent;
}
.login-data ul li .code,.login-data ul li .txt-code {
	width:108px;
}
.login-data ul li .code-value,.login-data ul li .txt-code-value{
	display:inline-block;
	width:128px;
	height:28px;
	border:1px solid #999;
	margin-left:10px;
	background:#fff;
	line-height:28px;
	letter-spacing: 15px;
	text-align: center;
	font-size:16px;
}
.code-value{
	color:#999;
}
.login-data ul li .txt-code-value{
	letter-spacing: 0px;
	font-size:12px;
}
.login-sure a{
	display:block;
	width:260px;
	height:35px;
	margin-left:90px;
	background:#db2725;
	text-align:center;
	line-height: 35px;
	font-size:14px;
	color:#fff;
}
.auto-login{
	width:260px;
	height:40px;
	margin-top:10px;
	margin-left:90px;
}
.auto-login p{
	float:left;
	margin-bottom:8px;
}
.auto-login p span{
	width:10px;
	height:10px;
	border:1px solid #888;
	margin:2px 4px 0 0;
	float:left;
}
.auto-login a{
	float:right;
	color:#000;
	text-decoration: underline;
}
.other-login{
	width:350px;
	height:17px;
	margin-top:20px;
}
.other-login span{
	float:left;
	width:75px;
	height:17px;
	margin-right:15px;
	text-align: right;
}
.other-login .sina{
	float:left;
	width:20px;
	height:17px;
	margin-right:25px;
	background:url(../image/icon_weibo.png) no-repeat;
}
.other-login .sina:hover{
	background-image:url(../image/icon_weibo_03.png);
}
.other-login .pay-baby{
	float:left;
	width:44px;
	height:17px;
	margin-right:25px;
	background: url(../image/icon_zhifubao.png) no-repeat;
}
.other-login .pay-baby:hover{
	background-image:url(../image/icon_zhifubao_03.png);
}
.btm-erweima{
	width:350px;
	height:100px;
	border-top:1px solid #a8aaab;
	margin-top:19px;
	padding-top:20px;
}
.btm-erweima img{
	float:left;
	margin-left:90px;
}
.btm-erweima p{
	width:128px;
	float:right;
	margin:16px 18px 0 0;
	line-height:20px;
	text-align: center;
}
.login-footer{
	height:auto;
	padding-top:0px;
}


/*********************注册页面*************************/
.new-user{
	padding-left:90px;
	width:260px;
	height:27px;
	color:red;
}
#pwd-strong{
	margin:5px 0 0 89px;
	height:15px;
	display:none;
}
#pwd-strong li{
	float:left;
	width:86px;
	height:15px;
	margin-left:1px;
	background:#929292;
	color:#fff;
	text-align: center;
	line-height:15px;
	min-height: 15px;
	_height:15px;
}
.input-wrap{
	height:30px;
}





















